/* Jessica Hawley, Polen Capital */

/* This is my homepage css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(255, 255, 255);
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', serif;
    text-align: center;
    }
    
h2{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', serif;
    text-align: center;
}

h3{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', serif;
    text-align: center;
}

h4{
    color:gray;
    font-family: 'Roboto', serif;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    }

p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', serif;
    text-align: center;
}

p2{
    color:gray;
    font-family: 'Roboto', serif;
    text-align: center;
    font-size: medium;
    font-weight: 200;
}


.myWeek1{
    margin: auto;
    max-width: 800px;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}


.references{
    margin: auto;
    max-width: 800px;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgb(224, 242, 218);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(255, 255, 255);
    width:auto;
    height: auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 1px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: rgb(255, 255, 255);
    margin-bottom: 0.5cm;
    display: inline-block;    
}

    
#link1{
    background-color: rgb(224, 242, 218);
    font-family: 'Roboto', serif;
    border: none;
    color: grey;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

  #link1:hover {opacity: 1} 


  .container {
    display: flex;
    flex-flow: wrap;
    column-gap: 20px;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
    align-content: center;
 }
